
<div class="mil-top-position mil-fixed has-additional-panel">
  <!-- top bar -->
  <div class="mil-additional-panel"></div>

  <div class="mil-top-panel">
    <!-- mil-top-panel-transparent -->
    <div class="container">
      <a routerLink="/" class="mil-logo" style="width: 200px"></a>
      <div class="mil-navigation">
        <nav>
          <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/case-studies">Case Studies</a></li>
            <li class="mil-has-children">
              <a>Services</a>
              <ul>
                <li><a routerLink="/service/ui-ux">UI / UX</a></li>
                <li><a routerLink="/service/graphic-design">Graphic Design</a></li>
                <li><a >Web Design</a></li>
                <li><a >Web Development</a></li>
                <li><a >WordPress</a></li>
                <li><a >Mobile App Development</a></li>
                <li><a >Content Writing</a></li>
              </ul>
            </li>
            <li><a routerLink="/solution">Solutions</a></li>
            <li><a >Contact Us</a></li>
          </ul>

        </nav>
      </div>
      <div class="d-flex">
        <div class="header-icon d-flex">
          <div class="search-icon">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="toggle-app">
            <i class="fa-brands fa-microsoft"></i>
          </div>
        </div>
        <!-- mobile menu button -->
        <div class="mil-menu-btn">
          <span></span>
        </div>
      </div>
      <!-- mobile menu button end -->
    </div>
  </div>
</div>
<!-- top bar end -->
