<!-- wrapper -->
<div class="mil-wrapper">


  <!-- coming soon -->
  <div class="mil-dark-bg mil-add-page">
    <img src="assets/img/photo/20.jpg" alt="background" class="mil-background-image">
    <div class="mil-overlay"></div>
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-xl-4">

          <h1 class="mil-light mil-mb-15">Coming <span class="mil-accent">Soon</span></h1>
          <p class="mil-light-soft">We are working on our website.</p>

        </div>
        <div class="col-xl-6">

          <div class="row align-items-center">
            <div class="col-lg-5">

              <h4 class="mil-light mil-mb-30">Join The <span class="mil-accent">ITSulu</span><br> Experience</h4>

            </div>
            <div class="col-lg-7">

              <p class="mil-light-soft mil-mb-30">Lorem ipsum dolor sit amet, consectetuer <br>adipiscing elit sed diam nonummy.</p>

            </div>
          </div>

          <form class="mil-subscribe-form mil-mb-30">
            <input type="text" placeholder="Your email address">
            <button type="submit" class="mil-button mil-accent-bg">Subscribe Now</button>
          </form>

          <a routerLink="/contact_us" class="mil-link mil-light"><span>Contact Us</span><i class="fas fa-arrow-right"></i></a>

        </div>
      </div>
    </div>
  </div>
  <!-- coming soon end -->

  <div class="mil-addition-bottom">
    <div class="container-fluid">
      <p class="mil-text-sm mil-light-soft">© ITSulu 2023.</p>
      <p class="mil-text-sm mil-light-soft">All Rights Reserved.</p>
    </div>
  </div>

</div>
<!-- wrapper end -->
